<div class="center jumbotron">
  <h1>Welcome to the app</h1>

  <h2>
    Hope you  make the greatest exams
  </h2>

</div>

<div class="center">

  <%= link_to image_tag("UET_logo", class: "home_logo"),
"https://github.com/trantuanngoc" %>

</div>
