<div class="text-center jumbotron mt-3">
  <h1>Welcome to the app</h1>
  <h2>Hope you  make the greatest exams</h2>
</div>

<div class="d-flex justify-content-around">
  <%= link_to image_tag("UET_logo", class: "home_logo", height: 250, width: 250),
"https://github.com/trantuanngoc" %>
</div>
