<div class="center jumbotron">
  <h1>Welcome to the app</h1>

  <h2>
    Hope you  make the greatest exams
  </h2>

</div>

<div class="center">

  <%= link_to image_tag("UET_logo", alt: "UET logo", width: "200"),
"https://github.com/trantuanngoc" %>

</div>
