<div class="nested-fields mt-2 input-group mb-3">
  <%= render "shared/error_messages", resource: f.object %>
  <%= link_to_remove_association "-", f, class: "btn btn-primary input-group-prepend mr-3" %>
  <%= f.radio_button :correct, true %>
  <%= f.text_field :content, class: "form-control" %>
</div>
