<div class="container-fluid">
  <h1 class="mt-4 mb-5 text-center">All Exams</h1>
  <% if current_user.admin? %>
    <%= render "admin_exam" %>
  <% else %>
    <%= render "user_exam" %>
  <% end %>
</div>
