<%= will_paginate %>

<div class="container-fluid">
  <h1 class="mt-4 mb-5 text-center">All Exams</h1>
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <% if current_user.admin? %>
        <%= render "admin_table" %>
      <% else %>
        <%= render "user_table" %>
      <% end %>
    </table>
  </div>
</div>

<%= will_paginate %>
